body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px 0;
    background: #ffffff;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form select, form button {
    margin: 10px 0;
}
/* Hamburger Menu Styles */
.hamburger {
    cursor: pointer;
    display: inline-block;
    margin-left: 15px;
  }
  .line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }
  .dropdown {
    display: none;
    position: absolute;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    right: 20px;
    top: 60px; /* Adjust based on your header height */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  }
  .dropdown a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 0;
  }
  .dropdown a:hover {
    text-decoration: underline;
  }
  